.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.table-card {
  width: 80%;
  margin: 2rem auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

.small-input {
  max-width: 130px; /* Defina a largura máxima desejada */
}

.space{
  margin-left: 10px;
}

.green-icon {
  color: green; /* Define a cor verde para o ícone de "done" */
}

.red-icon {
  color: red; /* Define a cor vermelha para o ícone de "close" */
}
